.order-enter {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-height: 0;
  padding: 0 !important;
}
.order-enter.order-enter-active {
  max-height: 60px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  padding: 2rem 0 !important;
}
.order-exit {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.order-exit.order-exit-active {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  padding: 0;
}
.count-enter {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.count-enter.count-enter-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.count-exit {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  left: 0;
  bottom: 0;
}
.count-exit.count-exit-active {
  -webkit-transform: translateY(-100%) ;
          transform: translateY(-100%) ;
}
@font-face {
  font-family: "haymakerregular";
  src: url("./fonts/haymaker-webfont.eot");
  src: url("./fonts/haymaker-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/haymaker-webfont.woff") format("woff"), url("./fonts/haymaker-webfont.ttf") format("truetype"), url("./fonts/haymaker-webfont.svg#haymakerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'blanchcaps_inline';
  src: url("./fonts/blanch_caps_inline-webfont.eot");
  src: url("./fonts/blanch_caps_inline-webfont.eot?#iefix") format('embedded-opentype'), url("./fonts/blanch_caps_inline-webfont.woff") format('woff'), url("./fonts/blanch_caps_inline-webfont.ttf") format('truetype'), url("./fonts/blanch_caps_inline-webfont.svg#blanchcaps_inline") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('./fonts/Raleway-SemiBold.ttf') format('ttf');
  font-weight: 'normal';
  font-style: 'normal';
}
@font-face {
  font-family: 'radnika_next';
  src: url('./fonts/radnikanext-medium-webfont.woff2')
  format('woff2');
      font-weight: normal;
      font-style: normal;
  }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: rgba(30, 29, 28, 0.99);
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-size: 62.5%;
}
* :focus{
  outline: none;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'raleway', sans-serif;
  font-size: 2rem;
}
#main {
  min-height: 100vh;
  background: #fff;
}
h1 {
  font-family: 'blanchcaps_inline', sans-serif;
  text-align: center;
  font-weight: normal;
  margin: 0;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: 'haymakerregular', sans-serif;
}
h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}
/* h3 {
  font-size: 3rem;
} */
div.top {
  text-align: center;
  padding: 1rem 0;
}
div.top h1 {
  font-size: 7rem;
  line-height: 0.7;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
div.top h3 {
  margin: 0;
  font-size: 2rem;
  color: #ffa500;
  position: relative;
  display: inline-block;
}
div.top h3 span {
  background: #fff;
  padding: .5rem 1rem;
  position: relative;
  z-index: 2;
  border-radius: 5px;
}
/* ul .top h1:before,
ul .top h1:after {
  display: block;
  z-index: 1;
  background: #ffa500;
  position: absolute;
  width: 130%;
  height: 1px;
  content: '';
  top: 5px;
  margin-left: 15%;
}
ul .top h1:after {
  top: auto;
  bottom: 7px;
} */
.main > div {
  /* margin: 0 auto 5em auto; */
  /* padding-top: 3em; */
}
.app {
  display: grid;
  max-width: 1500px;
  grid-gap: 5rem;
}
.bakked-order-menu  {
  margin: 0 auto;
  padding: 2rem;
  border: 1rem double #1a1a1a;
  position: relative;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  overflow: scroll;
}
.inventory {
  padding-top: 5em;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.order li {
  border-bottom: 1px solid rgba(30, 29, 28, 0.99);
  padding: 2rem 0;
  display: -webkit-box;
  display: flex;
  font-size: 1.4rem;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}
ul.order li:hover button {
  display: inline;
}
ul.order li button {
  border: 0;
  display: none;
  line-height: 1;
  padding: 0;
}
ul.order li.total {
  font-weight: 600;
  border-bottom: 3px solid rgba(30, 29, 28, 0.99);
  border-top: 3px double rgba(30, 29, 28, 0.99);
}
ul.order li.unavailable {
  text-decoration: line-through;
  background: #fcc;
}
ul.order li .price {
  font-size: 1.2rem;
}
ul.order li span.count {
  position: relative;
  overflow: hidden;
  float: left;
  margin: 0 10px;
}
ul.order li span.total {
  position: relative;
  overflow: hidden;
  /* float: right; */
  margin: 0 10px;
}
ul.order li button.warning {
  position: relative;
  overflow: hidden;
  float: right;
  margin: 0 10px;
}
ul.order li span.count span {
  display: inline-block;
}
.order-title {
  text-align: center;
}
.item-edit {
  margin-bottom: 20px;
  border: 2px solid rgba(30, 29, 28, 0.99);
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.item-edit input,
.item-edit textarea,
.item-edit select {
  width: 33.33%;
  padding: 10px;
  line-height: 1;
  font-size: 1.2rem;
  border: 0;
  border-bottom: 1px solid rgba(30, 29, 28, 0.99);
  border-right: 1px solid rgba(30, 29, 28, 0.99);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  background: #fff;
}
input:focus,
textarea:focus,
select:focus {
  outline: 0;
  background: #fff2d9;
}
.item-edit textarea {
  width: 100%;
}
.item-edit input:last-of-type {
  width: 100%;
}
.item-edit button {
  width: 100%;
  border: 0;
}
.contact-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(30, 29, 28, 0.99);
  padding: 5rem;
}
.contact-form p {
  color: #fff;
  margin: 1rem auto;
}
.contact-form input, 
.contact-form textarea {
  padding: .5rem;
}
.contact-form button {
  /* width: 50%; */
  width: 100px;
  margin-top: 5rem;
  border-radius: 2px;
  padding: .5rem 1rem;
  border: 1px solid #fff;
  /* margin: 2rem auto 0 auto; */
  background-color: #fff2d9;
}
.contact-form button:after {
  background-color: #FFC66F;
}

.contact-form label {
  /* position: absolute; */
  display: inline-flex;
  color: #fff;
  padding: 1rem;
}
.list-of-item {
  border-top: 2px solid rgba(30, 29, 28, 0.99);
  border-bottom: 1px solid rgba(30, 29, 28, 0.99);
  padding-top: 5px;
  margin-top: 2rem;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.menu-item {
  border-bottom: 2px solid rgba(30, 29, 28, 0.99);
  border-top: 1px solid rgba(30, 29, 28, 0.99);
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-bottom: 5px;
  clear: both;
  overflow: hidden;
}
.menu-item p {
  margin: 0;
  font-size: 1.8rem;
}
.menu-item .item-name {
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}
.menu-item .price {
  font-size: 1.4rem;
  -webkit-box-pack: end;
          justify-content: flex-end;
}
.menu-item img {
  float: left;
  width: 150px;
  margin-right: 1rem;
}
.header {
  background-image: url('./images/header.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header .context {
  margin: 30rem 0;
  position: relative;
  color: #fff;
}
header .context h1 {
  font-size: 15em;
}
header .context h3:before,
header .context h3:after {
  display: block;
  z-index: 1;
  background: #fff;
  position: absolute;
  width: 130%;
  height: 1px;
  content: '';
  top: 5px;
  margin-left: -15%;
}
header .context h3:after {
  top: auto;
  bottom: 7px;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 500;
  display: grid;
  grid-template-columns: 200px 1fr;
  background: #fff;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  padding-right: 2rem;
  transition: all 0.3s;
}
.nav .top {
  z-index: 551;
}
.nav > ul {
  position: relative;
  transition: all 0.3s;
  display: grid;
  grid-auto-flow: column;
}
.nav.scroll {
  z-index: 500;
  /* padding: 2rem; */
  /* position: relative; */
  background: rgba(30, 29, 28, 0.99);
  /* background: rgba(18, 16, 17, .99); */
  color: #fff !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  display: grid;
  grid-auto-flow: column;
}
.nav li button.nav-button {
  text-transform: uppercase;
  background: none;
  font-weight: 500;
  align-content: center;
  cursor: pointer;
  text-align: end;
  height: 100%;
  transition: color 0.2s;
  border: none;
  width: 100%;

}
  .nav li button:after {
    background: none;
  }

.nav.scroll li button {
  color: #fff;
}
.nav li button:hover,
.nav li button:focus {
  color: #FFC66F;
  outline: 0;
}
nav.nav li {
    text-transform: uppercase;
    background: none;
    font-weight: 500;
    align-content: center;
    cursor: pointer;
    text-align: end;
    height: 100%;
    transition: color 0.2s;
}
.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 7em 2em 7em 2em;
}
.about-content p {
  font-family: 'radnika_next';
  font-size: 1.5rem;
  /* font-size: 2.5rem; */
  color: #fff;
  padding: 2rem;
  margin: 0 auto;
}
.wooden-bread {
  background-image: url('./images/blackbread.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 5em;
}
.map {
  margin: 0 auto
}
.map img {
  filter: grayscale(75%);
  transition: .3s;
}
.map h2:nth-of-type(2) {
  margin-top: 2rem;
}
.map:hover img {
  filter: grayscale(0%);
}
.map p {
  margin: 1rem auto;
  text-align: center;
}
footer {
  background: rgba(30, 29, 28, 0.99);
  position: absolute;
  color: #fff;
  width: 100%;
  display: grid;
  padding: 0 15px;
  font-size: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}
button,
input[type=submit] {
  text-transform: uppercase;
  background: none;
  border: 1px solid rgba(30, 29, 28, 0.99);
  font-weight: 600;
  font-size: 1.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  z-index: 2;
}
button:hover:not(.nav-button),
input[type=submit]:hover,
button:focus:not(.nav-button),
input[type=submit]:focus {
  color: #fff;
  outline: 0;
}
button[disabled],
input[type=submit][disabled] {
  color: #f00;
  background: #fff;
  border-color: #f00;
  -webkit-transform: rotate(-10deg) scale(1.5) translateX(50%);
  transform: rotate(-10deg) scale(1.5) translateX(50%);
}
button[disabled]:hover,
input[type=submit][disabled]:hover {
  color: #f00;
  cursor: not-allowed;
}
button[disabled]:after,
input[type=submit][disabled]:after {
  display: none;
}
button:after,
input[type=submit]:after {
  content: '';
  z-index: -1;
  display: block;
  background: rgba(30, 29, 28, 0.99);
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
button:hover:after,
input[type=submit]:hover:after,
button:focus:after,
input[type=submit]:focus:after {
  height: 100%;
}
button.warning:after,
input[type=submit].warning:after {
  background: #f00;
}
button.success:after,
input[type=submit].success:after {
  background: #008000;
}
button.github,
input[type=submit].github,
button.facebook,
input[type=submit].facebook,
button.twitter,
input[type=submit].twitter {
  border: 0;
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  color: #fff;
  padding: 2rem;
}
button.github,
input[type=submit].github {
  background: #82d465;
}
button.github:after,
input[type=submit].github:after {
  background: #5cc437;
}
button.facebook,
input[type=submit].facebook {
  background: #3864a3;
}
button.facebook:after,
input[type=submit].facebook:after {
  background: #2d5082;
}
button.twitter,
input[type=submit].twitter {
  background: #5ea9dd;
}
button.twitter:after,
input[type=submit].twitter:after {
  background: #2c8dd0;
}
.store-selector {
  background: #fff;
  max-width: 500px;
  margin: 50px auto;
  padding: 2rem;
  border: 2px solid rgba(30, 29, 28, 0.99);
}
.store-selector input,
.store-selector button {
  width: 100%;
}
.store-selector input[type="text"],
.store-selector button[type="text"] {
  text-align: center;
  font-size: 3rem;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  z-index: 900;
}
.modal .interior {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 900;
  color: #fff;
}

.interior form {
  display: grid;
  margin-top: 2rem;
  grid-gap: 2rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
  transition: all .3s;
}
.modal-open .modal-overlay {
  background: rgba(0, 0, 0, 0.9);
}
.modal-closed .modal-overlay {
  background: rgba(0, 0, 0, 0);
}
.modal-closed .interior { 
  display: none;
}

.close-modal {
  color: #fff;
  cursor: pointer;
  float: right;
}

.modal-closed {
  transition: all .3s;
  /* transition-delay: .3s; */
  visibility: hidden;
  /* display: none; */
}
.modal-open {
  transition: all .3s; 
  /* transition-delay: .3s; */
  visibility: visible;
}
.login-form > * {
  padding: .5rem 1rem;
}
.login-form span {
  text-align: center;
}

.login-form button {
  border-radius: 2px;
  border: 1px solid #fff;
  background-color: #fff2d9;
}
.login-form button:after {
  background-color: #FFC66F;
}

.none {
  display: none !important;
}

@media(min-width: 768px) {
  .nav .hamburger-button, .nav .nav-toggle {
    display: none;
  }
}
@media(max-width: 768px) {
  body {
    font-size: 1.5rem;
  }
  .header {
    background-image: url('./images/mobileheader.jpeg');
  }
  .nav {
    grid-template-columns: 50px 1fr 50px;
    padding: 0;
  }
  .nav ul.closed {
    transform: translateY(-110%);
    z-index: 550;
    position: fixed;
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    height: 100vh;
    background-color: inherit;
  }
  .nav ul.closed li {
    margin: 0 auto;
  }
  .nav ul.closed.open {
    transform: translateY(0%);
    overflow: hidden;
    padding: 5em 0;
  }
  .about-content {
    display: block;
  }
  .about-content p {
  background: rgba(30, 29, 28, 0.99);
  }
  .wooden-bread {
    margin: 0;
  }
  button[disabled],
input[type=submit][disabled] {
  color: #f00;
  background: #fff;
  border-color: #f00;
  -webkit-transform: rotate(-10deg) scale(1.5);
  transform: rotate(-10deg) scale(1.5);
}
}

@media(max-width: 500px) {
  .top {
    font-size: 1rem;
  }
}